/* ============ Main setup ============= */

:root{

    /* light colour theme */
    --primary: whitesmoke;
    --secondary: #202124;
    --accent-1: #ff4c68;
    --accent-2: #fc768a;
    --bg-gradient: linear-gradient(var(--accent-1), var(--accent-2)/*,#fc768a*/);
    --light-text: rgb(102, 100, 100);
}

/* box sizing reset */

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Montserrat";
}


/* ========== General layout setup ============= */

header,
section,
footer{
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
}

header{
    padding-top: 2em;
    background: var(--bg-gradient);
    position: relative;
    overflow: hidden;
}

.header-content,
.section-content,
.footer-content{
    grid-column: 2/3;
}


/* 
    Design: mobile first design 
    taking it easier on the mobile and speed up performance
 */


 /* =============== Header Design =================== */


 /* --------------- Nav bar design ------------------ */

 nav{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0;
    margin: 0 0 4rem;
    /* border: 1px solid #000; */
 }


 .main-menu{
    background-color: var(--secondary);
    border-radius: 5px;
    margin: 0;
    padding: 5rem 3rem 5rem 2rem;
    position: absolute;
    right: -5rem;
    top: 30%;
    transform: scale(0,0);
    transform-origin: top right;
    transition: transform 400ms ease-in-out;

 }
.main-menu-item{
    list-style: none;
    margin: 0 1rem 1rem;
    text-transform: capitalize;
}
.main-menu-item a{
    text-decoration: none;
    font-family: 'Montserrat-Thin', sans-serif;
    color: var(--primary);
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}


.logo{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--primary);
}


/* ------------------------- nav toggle system setup -------------------------- */

.toggle{
    display: none;
}
.toggle:checked ~ .main-menu{
    transform: scale(1,1);

}

.nav-toggle-label{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

/* creating hamburger menu */

.nav-toggle-label,
.nav-toggle-label::before,
.nav-toggle-label::after{
    display: block;
    background-color: var(--primary);
    height: 3px;
    width: 2rem;
    border-radius: 3px;
    position: relative;
    z-index: 1;

    transition: transform 400ms linear, opacity 250ms linear;
}

.nav-toggle-label::before,
.nav-toggle-label::after{
    content: '';
    position: absolute;
}
.nav-toggle-label::before{
    bottom: 7px;
}
.nav-toggle-label::after{
    top: 7px;
}

.toggle:checked ~ .main-menu a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* Hamburger menu animation  */

.toggle:checked ~ .nav-toggle-label{
    transform: rotate(45deg) translate(2.5rem, -1.5rem) scale(.7);
}

.toggle:checked ~ .nav-toggle-label::before{
    transform: rotate(90deg) translate(6px);
}
.toggle:checked ~ .nav-toggle-label::after{
    opacity: 0;
}

/* --------------- Banner design ------------------ */



.title h2{
    color: var(--primary);
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.hero{
    text-align: center;
}

.hero img{
    width: 60%;
}


/* ================= Main Content Design ======================== */

/* -------------- features section design ------------------------ */

#feature .section-content{
    padding: 5em 0;
    text-align: center;
}

.feature-card{
    margin-bottom: 3rem;
}

.feature-card:hover > .feature-card-icon{
    color: var(--accent-1);
}

.feature-card-icon{
    font-size: 3rem;
    color: var(--accent-2);
}


/* --------------- Testimonials section design ------------- */

#testimonials, #press{
    background-color: var(--accent-2);
}

#testimonials .section-content{
    color: var(--primary);
}

.testimonial-card h2{
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    line-height: 1.5;
}

.user-profile,
#press .section-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile img{
    border-radius: 50%;
    width: 7rem;
    margin: 1rem;
}

#press{
    padding-bottom: 2rem;
}

#press .section-content{
    flex-wrap: wrap;
    gap: 1rem;
}

#press .section-content > *{
    width: 50%;
}


/* ------------------ Pricing section design ----------------- */

#pricing{
    padding:  3em 0;
}

.pricing-cards-row{
    padding-top: 1em;
}

.pricing-card{
    border: 1px solid grey;
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.pricing-card-title{
    background-color: rgb(163, 163, 163);
    padding: .4em 0;
    border-radius: .5rem .5rem 0 0;
}
.pricing-card-price{
    margin: 1rem 0 2rem;
}

.pricing-card-footer button{
    display: block;
    width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--secondary);
}



/* ------------------ cta section design ----------------- */

#cta{
    background-color: var(--accent-1);
}

#cta .section-content{
    margin: 3rem auto;
}
#cta h2{
    color: var(--primary);
    font-family: 'Montserrat-Black';
    font-size: 3rem;
}


/* ================= Footer Content Design ======================== */


footer{
    padding: 2em 0
}

/* ----------------- social icons design ------------------------- */

footer a{
    text-decoration: none;
}

.social-icon{
    display: inline-block;
    margin: 0 1rem;
    padding: 0 .5em;
    font-size: 1.5rem;
    color: var(--secondary);
}






/* ======================================================== */
/*                  MEDIUM SCREEN LAYOUT                    */
/* ======================================================== */

@media screen and (min-width: 768px) {

    
}

/* ======================================================== */
/*                  LARGE SCREEN LAYOUT                    */
/* ======================================================== */

@media screen and (min-width: 992px) {

    /* ============== Header Design ======================= */

    /* -------------- main menu design -------------------- */
    .nav-toggle-label{
        display: none;
    }
    .main-menu{
        all: unset;
        color: var(--primary);
        display: flex;
        justify-content: flex-end;
    }

    .main-menu-item{
        margin-left: 2rem;
        margin-bottom: 0;
    }
    .main-menu a{
        opacity: 1;
        position: relative;
    }

    .main-menu a:hover{
        color: var(--secondary);
    }
    .main-menu a::before{
        content: '';
        height: 3px;
        display: block;
        background-color: var(--secondary);
        position: absolute;
        bottom: -.5rem;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform 200ms ease-in-out;
    }
    .main-menu a:hover::before{
        transform: scale(1,1);
    }
















    /* -------------- banner design ----------------------- */

    .banner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero img{
        transform: rotate(25deg);
    }


    /* ============= Main Content Design =================== */

    /* ------------- Feature section design ---------------- */

    .cards-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature-card{
        width: 30%;
        padding: .5em;
        margin: 0;
    }

    /* ------------- Testimonials section ------------------ */


    /* ------------- Pricing section ---------------------- */

    .pricing-cards-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pricing-card{
        width: 30%;
        display: flex;
        flex-direction: column;
        transform: scale(1);
        transition: transform 250ms ease-in-out;
    }

    .pricing-card:hover{
        transform: scale(1.04);
        transition: transform 150ms ease-in-out;
    }
    .pricing-card-footer{
        margin: auto 0 0;
    }


    /* ================= footer Content Design ======================== */

    /* ----------------- Social icon design -------------------------- */

    .social-icon{
        transform: scale(1);
        transition: transform 250ms ease-in-out;
    }
    .social-icon:hover{
        color: var(--accent-1);
        transform: scale(1.3);
        transition: transform 250ms ease-in-out;
    }







    
}


/* ======================================================== */
/*                  EXTRA LARGE SCREEN LAYOUT               */
/* ======================================================== */


@media screen and (min-width: 1366px) {

    /* ==================== Header Design ================== */

    /* -------------------- banner design ------------------ */

    
    
}



/* ======================================================== */
/*                  UTILLITY CLASSES                        */
/* ======================================================== */


.btn-download{
    font-size: 1rem;
    padding: .5em .75em;
    margin: 1rem;
    border-radius: .6rem;
    color: var(--primary);
}

.ios{
    background: var(--secondary);
    border: 1px solid #000;
}
.ios:hover{
    background: var(--primary);
    color: var(--secondary);
}
.ggl{
    background: none;
    border: 1px solid var(--primary);
}

.ggl:hover{
    background: var(--primary);
    color: var(--secondary);
}

.card-title{
    font-size: 1.5rem;
    font-family: "Montserrat-bold";
    margin-top: 1rem;
}

.card-content{
    color: var(--light-text);
}

.center{
    text-align: center;
}

.bold{
    font-weight: 900;
    font-size: 1.5em;
}

.white-btn{
    background: var(--primary);
    color: var(--secondary);
}
.dark-btn{
    background: var(--secondary);
    color: var(--primary);
}
