/* 
    main css file 
    author: Noah Thony
    content: main layout and elements design
 */

/* ============================================================ */


/* ===== Main setup ===== */

 :root{
     /* ligt color theme */
     --primary: whitesmoke;
     --secondary: #202124;
     --accent-1: #ff4c68;
     --accent-2: #fc768a;
     --bg-gradient: linear-gradient(#ff4c68, #fc768a);
 }

/* box sizing reset  */

 *,
 *::before,
 *::after{
     box-sizing: border-box;
 }


/* ===== General layout Design ===== */

 body{
     margin: 0;
     font-family: "Montserrat";
 }

 header{
     background: var(--bg-gradient);
     padding: 2em 0 0;
     position: relative;
     overflow: hidden;
 }

 header,
 section,
 footer{
     display: grid;
     grid-template-columns: 1fr 80% 1fr;
 }

 .header-content,
 .section-content,
 .footer-content{
     grid-column: 2 / 3;
 }

/* =====   header design   ===== */
nav{
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
    gap: 1rem;
    padding: 0;
    margin: 0 0 4rem;
}

nav li{
    list-style-type: none;
}

.logo{
    font-size: 2.5rem;
    font-family: "Ubuntu";
    text-decoration: none;
    color: var(--primary);
}

/* -----   navigation toggle system    -----  */

.nav-toggle{
    display: none;
}

.nav-toggle-label,
.main-menu{
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
}

.nav-toggle-label{
    top: 0;
    height: 100%;
    margin-right: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before{
    display: block;
    background: var(--secondary);
    height: 3px;
    width: 2rem;
    border-radius: 3px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content:'';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

.nav-toggle:checked ~ .main-menu{
    transform: scale(1,1);
}

.nav-toggle:checked ~ .main-menu a{
    opacity: 1;
    transition: opacity 300ms ease-in-out 250ms;
}



.main-menu{
    background: var(--secondary);
    margin: 0;
    padding: 1rem;
    border-radius: 5px;
    top: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.main-menu-item{
    margin: 0 1rem 1rem;
    text-transform: capitalize;
}

.main-menu-item a{
    text-decoration: none;
    font-family: "Montserrat-Thin";
    color: var(--primary);
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}


/* title design */
/* .banner{
    text-align: center;
} */

.title h2{
    color: var(--primary);
    font-size: 3.5rem;
    font-family: "Montserrat-Black";
    line-height: 1.5;
}

.hero{
    text-align: center;
}

.hero img{
    width: 95%;
}

.btn-download{
    padding: .5em .75em;
    margin: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    color: var(--primary);
}

.ios{
    background: var(--secondary);
    border: 1px solid #000;
}

.ggl{
    background: none;
    border: 1px solid #fff;
}
.ggl:hover{
    background: #fff;
    color: #000;
}

/* ==================== main content design ======================= */


/* feature section design  */

#features .section-content{
    padding: 5em 0;
    text-align: center;
}

.feature-card{
    margin-bottom: 2rem;
}

.feature-card:hover > .feature-card-icon{
    color: var(--accent-1);
}

.feature-card-icon{
    font-size: 3rem;
    color: var(--accent-2);
}
.feature-card-title{
    font-size: 1.2rem;
    font-family: "Montserrat-Bold";
    margin-top: 1rem;
}

.feature-card-content{
    color: rgb(102, 100, 100);
}


/* testimonial section design  */

#testimonials{
    background: var(--accent-2);
    text-align: center;
    color: var(--primary);
    padding: 3em 0;
}

.testimonial-card h2{
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    line-height: 1.5;
}

.user-profile,
#press .section-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile img{
    border-radius: 100%;
    width: 7rem;
    margin: 1rem;
}

#press{
    background: var(--accent-2);
    padding-bottom: 2rem;
}

#press .section-content{
    flex-wrap: wrap;
}


/* pricing section design  */

#pricing{
    text-align: center;
    padding: 3em 0;
}
.cards-row{
    padding-top: 1em;
}

.pricing-card{
    border: 1px solid grey;
    border-radius: .3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}



.pricing-card-title{
    background: rgb(163, 163, 163);
    padding: .5em 0;
}
.card-footer button{
    display: block;
    width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid var(--secondary);
    
}

.card-signup{
    background: var(--secondary);
    color: #fff;
}

.white{
    background: #fff;
    color: #000;
}


/* CTA section design  */

#cta{
    background: var(--bg-gradient);
    text-align: center;
    padding: 5rem 0 5rem;
}

#cta h2{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    color: var(--primary);
    margin: 0 auto 3rem;
}

footer{
    padding: 4rem 0;
    text-align: center;
}
.social-icon{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
}

/* ====================================================================== */
/*                           LARGE SCREEN LAYOUT                          */
/* ====================================================================== */


@media screen and (min-width: 992px) {
    
/* header design  */

header{
    padding: 5em 0 3em;
}

/* navigation toggle system off  */

.nav-toggle-label{
    display: none;
}

.main-menu{
    all: unset;
    color: #fff;
    margin: auto 0 auto auto;
    display: flex;
    justify-content: flex-end;
}

.main-menu li{
    margin-left: 2rem;
    margin-bottom: 0;
}

.main-menu a{
    opacity: 1;
    position: relative;
}
.main-menu a:hover{
    color: #000;
}

.main-menu a::before{
    content: '';
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: -.6rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 200ms ease-in-out;
}

.main-menu a:hover::before{
    transform: scale(1, 1);
}

/* banner design */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero{
    /* text-align: center; */
    position: relative;
}

.hero img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* feature section design */

.cards-row{
    display: flex;
    flex-wrap: wrap;
}

#features .cards-row{
    justify-content: space-between;
}

.feature-card{
    width: 30%;
    margin: 0;
}

/* pricing section design  */

.pricing-card{
    flex: 1;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}
.pricing-card:hover{
    transform: scale(1.03);
    transition: transform 300ms ease-in-out;
}

.pricing-card::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: -5px 5px 1rem rgb(105, 105, 105);  
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.pricing-card:hover::after{
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.card-footer{
    margin-bottom: 0;
    margin-top: auto;
}



.social-icon:hover{
    color: var(--accent-1);
}






}